#container{
    background-color: gold;
    width: 1500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: black;
    color: red;
    text-align: center;
}
body{
    background-color: gray;
}
#content{
    padding: 20px 20px 20px 20px;
}
#nav{
    width: 450px;
    height: 440px;
    float: left;
    background-image: url(https://pbs.twimg.com/profile_images/1312104816278085633/K3LEY9e3_400x400.jpg);
}
#main{
    width: 1000px;
    float: right;
    color: rgb(219, 5, 5);
    
}
#footer{
    clear: both;
}
a{
    color:red;
    font-size: xx-large;
    list-style-type: none;
}
p{
    font-size: x-large;
    font-style: italic;
}
#nav ul{
    list-style-type: none;
}